<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >


<mapper namespace="com.atguigu.tingshu.album.mapper.BaseAttributeMapper">
    <!--自定义结果集：封装标签标签值一对多数据-->
    <resultMap id="attributeValueMap" type="com.atguigu.tingshu.model.album.BaseAttribute" autoMapping="true">
        <!--配置一方-->
        <id column="id" property="id"></id>
        <!--配置多方集合-->
        <collection property="attributeValueList" ofType="com.atguigu.tingshu.model.album.BaseAttributeValue" autoMapping="true">
            <id column="base_attribute_value_id" property="id"></id>
        </collection>
    </resultMap>
    <!--根据一级分类Id获取分类属性以及属性值（标签名，标签值）列表-->
    <select id="getAttributesByCategory1Id" resultMap="attributeValueMap">
        select ba.id,
               ba.attribute_name,
               bav.id base_attribute_value_id,
               bav.value_name,
               bav.attribute_id
        from base_attribute ba
                 inner join base_attribute_value bav
                            on bav.attribute_id = ba.id
        where ba.category1_id = #{category1Id}
          and ba.is_deleted = 0
    </select>

</mapper>

